body {
    height: 110px;
}

h1 {
  font-size: 28px;
  color: #FF9F00;
}
img {
height: 25%;
}

div{
  float:center;
}
h2 {
  color: #d8d8d8;
}

p {
  text-align: center;
  font-size: 60px;
  color: white;
}


video {
  float:left
}

w {
  color: #4CFF00;
}

l {
  color: red;
}
